<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <style>
    </style>
  </head>
  <body>
    <div class="main">
      <div>
        <div>
          <h1>홈페이지 로고</h1>
        </div>
        <div>
          <div class="login">
            <h1>로그인</h1>
            <div>
              <input type="text" id="id" placeholder="아이디를 입력해주세요." />
              <br />
              <input
                type="text"
                id="id"
                placeholder="비밀번호를 입력해주세요."
              />
              <br />
              <button>로그인</button>
              <br />
              회원이 아니신가요? 회원가입하러가기
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
