<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/indexMain.css}">
  </head>
  <body>
    <div class="main">
      <div>
        <div class="navi">
          <div class="logo">
            <h1>맛집 탐방</h1>
          </div>
          <div class="search">
            <input type="text" class="searchInput" />
            <img class="searchIcon"
              src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
            />
          </div>
          <div class="info">
            <a href="/auth/login.html">내 정보</a>
          </div>
        </div>
      </div>
      <div class="post">
        <div>
          <button class="postButton">게시글 작성</button>
        </div>
        <div class="food">
          게시글 작성되는 곳
          <div class="postupload">
            <div class="uploadimg">이미지 업로드되는 곳</div>
            <span>내용추가하는곳</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
