html {
    background-image: linear-gradient(to bottom right, #e1bee7, #b2ebf2);
    height: 150%;
  }
div {
    border: 1px red solid;
    text-align: center;
  }
  .main {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .logo {
    margin: 10px;
  }
  .login {
    margin-left: 200px;
    margin-right: 200px;
  }